.idea
data/vivos/raw/
data/vivos/corpus/
data/vivos/open_fpt/raw/
**/tmp/
**/analyze/
/experiment/diadiem/tmp/
/data/vlsp/corpus/
/data/vlsp/wav
/experiment/vlsp/extension/_pycache_/
**/**/__pycache__/
**/__pycache__/
.ipynb_checkpoints
data/vlsp
tmp
!tmp/.gitkeep